<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Simulink Editor"
            extensions="mdl"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.fware.csdt.simulink.mdl.editor.editors.SimulinkEditor"
            id="simulinkeditor.editors.SimulinkEditor">
      </editor>
   </extension>

</plugin>
